body{
    background-color: #F2EBE3;
margin: 0 10%;
}

h1{
  font-size: 64;
  color: #542A2A;
  font-family: Bebas neue;
}

h2{
    font-size: 48;
    color: #542A2A;
    font-family: Bebas neue;
}

h3{
    font-size: 40;
    color: #312E32;
    font-family: Nunito;
    font-style: italic;
}

h4{
    font-size: 20;
    color: #542A2A;

}

h5{
    font-size: 16;
    color: #542A2A
}

p{
  font-size: 24;
  color: #1D191E;
  font-family: Nunito;
}

a{
    font-size: 24;
    color: #DC8144;
    font-family: Nunito;
    transition: color .5s;
}

a:hover{
    font-size: 24;
    color: #B75513;
    font-family: Nunito;
}
#chart{
    width: 550px;
}

#section1{
    background-color: #997152;
    padding-inline: 20px;
    padding-block: 10px;
    border-radius: 15px;
    text-align: center;
}
#subscribe{
    background-color: #553822;
    border-radius: 3px;
    color: #fff;
    font-family: Nunito;
    font-size: 32px;
    border: 0px;
    width: 170px;
    height: 40px;
    vertical-align: middle;
}
#newsletter{
    background-color: #fff;
    border-radius: 5px;
    font-family: Nunito;
    font-size: 24;
    border: 0px;
    width: 250px;
    height: 40px;
}
#emailenter{
    font-size: 24px;
    font-family: Nunito;
    color: #fff;
}
#news{
    font-size: 40px;
    font-family: Nunito;
    color: #fff;
}
.related{
    display: flex;
    gap: 20px;
}
.related{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    height: 390px;

}
#article_1{
    grid-column: 1 / span 1;
    grid-row: 1/span 1;
    width: 330px;
    height: 269px;
}
#article_2{
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
    width: 330px;
    height: 269px;
}
#article_3{
    grid-column: 3 / span 1;
    grid-row: 1 / span 1;
    width:330px;
    height: 269px;
}
.related img{
    width: 100%
}
#footer{
    background-color: #D9D9D9;
    height: 150px;
    width: 100%;
}
#nav{
    height: 100px
}
#concerns{
    height: 75px;
    width: 300px;
}

.dinosaurpictures{
    display: flex;
    gap: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    height: 390px;
}

#dinosaur_1{
    grid-column: 1 / span 1;
    grid-row: 1/span 1;
    width: 330px;
    height: 269px;
}
#dinosaur_2{
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
    width: 330px;
    height: 269px;
}
#dinosaur_3{
    grid-column: 3 / span 1;
    grid-row: 1 / span 1;
    width:330px;
    height: 269px;
}
#dinosaur_4{
    grid-column: 4/ span 1;
    grid-row: 1/ span 1;
    width:330px;
    height: 269px;
}

.label_1{
    display: flex;
    gap: 40px;
    align-items: center;
}

.label_2{
    display: flex;
    gap: 40px;
    align-items: center;
}

.label_3{
    display: flex;
    gap: 40px;
    align-items: center;
}

.label_4{
    display: flex;
    gap: 40px;
    align-items: center;
}

#radioButton{
   height: 200px;
}

#checkBox{
    padding-top: 25px;
    height: 30px;
}


/* laptop breakpoint size*/

@media (max-width: 1726){

body{
    width: 50%;
}
}


/* tablet breakpoint size */

@media (max-width: 1024){
    
    body{
        width:60%;
    }

}


/* mobile breakpoint size*/

@media (max-width: 393){

    body{
        width: 70%;
    }
}
